
/* 	
	Student Name: Lillian Sones
	File Name: stylin.css
    Date: 11/2/23
*/

/*CSS RESET- Eric Meyer's work, in my opinion, 
is a great straightforward reset I will continue to use*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*********************************************/
/* Create icons/planner nav bar */

nav, nav li{
  display: flex;
  align-items: center;
  text-decoration: none;
}

/*********************************************/

body{
  background-color: rgb(241, 231, 222);
}

/*basic.html*/
/*********************************************/
/* Styles for Main */
main{
  display: block;
  text-align: center;
  align-content: center;
  padding: 2%;
}

/* Styles for nav*/
.nav{
  width: 100%;
  padding: 2%;
  margin: 0, 20, 0, 20;
}

.nav ul{
  display: flex;
  justify-content: space-between;
}

.nav li a{
  text-decoration: none;
  color: #56231d;
}

.navicon a {
  font-size: larger;
  border-radius: 50%;
  background-color: #c47e76;
}

.navicon a:hover{
  background-color: #e04d3d83;
}
/*********************************************/

/*********************************************/
/*(home.html)*/
.loggin{
  display: flex;
  float: right;
  padding: .5%;
  background-color: #c47e76;
  background-size: 200%;
  border-radius: 75%;
}

.loggin a{
  color: #56231d;
  text-decoration: none;
}

.loggin :hover{
  background-color: #e04d3d83;
  border-radius: 75%;
}

.reg{
  align-items: left;
}

/* PLANNER */
.PLANNER{
  display: block;
  align-items: center;
  margin: 10, 25, 10,25;
  padding: 3%;
}

/* Style rules for table */

table {
text-align: center;
table-layout: fixed;
width: 100%;
margin: auto;
}

table a{
  text-decoration: none;
  color: #3c1712;
}

table a:hover{
  background-color: #e04d3d83;
}

table ul{
  list-style: none;
}

th{
  font-size: large;
}


th, td{
 padding: 8px;
 text-align: center;
 align-content: center;
}
.howdy{
  text-decoration: underline;
  text-decoration-color: #56231d;
}
.weekRow{
  justify-content: space-between;
}

.plannertbl{
  background-color: rgba(237, 191, 181, 0.801);
}

.entrylist-box{
  background-color: #eaa68c;
  border: 2px solid;
  border-color: #56231d;
}

.todolist-box{
  background-color: #c47150;
  border: 2px solid;
  border-color: #56231d;
}

/*********************************************/

.crud-box{
  max-width: 650px;
  margin: auto;
  box-shadow: 2px 2px 13px -4px #00000079;
  background-color: #f4b8a0;
}

/*********************************************/
/*Media Queries*/

/*Styles for Mobile*/
@media(max-width:480px){

      /* Choose Display*/
      .mobileDisplay{
          display: block;
      }
    
      .tabletDisplay{
          display: none;
      }

      .deskDisplay{
          display: none;
      }
    
/* Rules */

  main{
   margin: 0;
  }

  main p{
      margin: 0% 15%
  }

  .navbar h1{
      font-size: 1em;
      padding: .5em .75em 0em
  }

nav li {
  border-top: none;
  display: inline-block;
  text-align: center;
  padding: .2em 3em 0em;
}

  nav{
      max-width: 100%
  }

  nav li a{

      font-size: .5em;
  }

  }



/* Styles for Tablet  */
@media screen and (min-width:481px){

      /* Choose Display*/
      .tabletDisplay{
      display: block;
      }
  
      .mobileDisplay{
      display: none;
      }

      .deskDisplay{
          display: none;
      }

        }
/* Rules */

  nav li {
    border-top: none;
    display: inline-block;
    font-size: 1.25em;
  }
  
  nav li a {
    padding: 0.5em;
  }
  



/* Styles for Desktop  */
@media screen and (min-width:1015px){

      /* Choose Display*/
      .deskDisplay{
        display: block;
      }
      
      .mobileDisplay{
        display: none;
      }
  
      .tabletDisplay{
          display: none;
        }

      
}
/*********************************************/




/*********************************************/
/* You made  it to the bottom of the styles */
/* Basic Footer styles */

footer{
  padding: 3% 0;
  text-align: center;
  font-size: small;
}
/*********************************************/