{%load static%}
<!DOCTYPE html>
<html lang="en">
    
<head>
<link rel="stylesheet" href="{% static 'css/stylin.css' %}">
<script src="https://kit.fontawesome.com/7f14fb8aa7.js" crossorigin="anonymous"></script>    
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

      {% block title %}<title>Basic</title> {%endblock%}

</head>

<body>

  


    <!-- NAV BAR HERE-->
    <nav>
    <div class="nav">
      <ul>
        <div class="navicon"> <li><a href={% url 'create_entry' %}><i class='far fa-calendar-plus'></i></a></li></div>
        <li><a href={% url 'planner' %}>My Planner</a></li>
        <div class="navicon"><li><a href={% url 'create_task' %}><i class='far fa-list-alt'></i></a></li></div>

      </ul>
    </div>
  </nav>
          
<main>
        {% block content %}

        {% endblock content %}
</main>



</body>

<footer>
</footer>

</html>